<!doctype html>
<html>

<title>Consulta del sistema</title>
  <style type="text/css">
  body {
    font-family: Georgia, "Times New Roman",
          Times, serif;
    color: black;
    background-color: pink;}
  </style>
</head>

   <body>
   
 <center>
     <table border = 1>
         <thead>
            <td>Hora</td>
            <td>Memoria</td>
            <td>% CPU</td>
            <td>Swap</td>
	    <td>Usuario</td>
            <td>Sistema</td>
            <td>Total</td>
	    <td>Libre</td>
         </thead>        

         {% for row in rows %}
            <tr>
               <td>{{row[0]}}</td>
               <td>{{row[1]}}</td>
               <td> {{row[2]}}</td>
               <td>{{row[3]}}</td>	
               <td>{{row[4]}}</td>
               <td>{{row[5]}}</td>
               <td> {{row[6]}}</td>
               <td>{{row[7]}}</td>	
            </tr>
         {% endfor %}
      </table>
<center>      
      <a href = "/">Go back to principal page</a>
      
   </body>
</html>
